<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="<%=nodeSiteUrl%>/css/landing/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans">
  <link href="<%=nodeSiteUrl%>/notiflix/notiflix-3.2.7.min.css" rel="stylesheet" />
  <link rel="icon" href="<%=nodeSiteUrl%>/images/landing/logo.png" sizes="32x32" type="image/png">
  <meta name="description" content="Discover the best deals on new and used cars at Brian's Auto, your trusted car dealership in Bournemouth, UK. We offer quality vehicles, expert car sales advice, and excellent customer service to help you find your perfect car.">
  <meta name="keywords" content="Brian's Auto, car dealership Bournemouth, buy new cars Bournemouth, used cars Bournemouth, cars for sale Bournemouth, cheap cars Bournemouth, car sales Bournemouth, affordable cars Bournemouth">

  
  <!--test fonts -->
   <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Protest Revolution"> -->

</head>