 <aside class="sidebar">
                <div class="filter-section">
                    <h3>Shortlist</h3>
                    <label class="checkbox-container">
                        <input type="checkbox" checked> Saved
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="filter-section">
                    <h3>Position</h3>
                    <label class="checkbox-container">
                        <input type="checkbox"> Goalkeeper
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Left Back
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Right Back
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Centre Back
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Left Footed
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Defensive Midfielder
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Central Midfielder
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Attacking Midfielder
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Winger
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox"> Forward
                        <span class="checkmark"></span>
                    </label>
                </div>
            </aside>